<a href='/' id='logo'></a>
<% if !current_user %>
    <%= link_to "Sign in with Github", "/auth/github", :class => 'btn center' %>
<% end %>
<% if current_user %>
 <div class="container">
   <%= image_tag("logo.png", :alt => "logo", :class => "logo-img" ) %>
<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class='grid nav'>
    <div class='third'>

    <label >
      email reminders
      <%= f.check_box :reminders %>
    </label>
  </div>
    <div class='third'>
    <label >
      leaderboard
    <%= f.check_box :public %>
    </label>
    </div>
    <div class='third'>
      <%= link_to "Logout "+ current_user.name, '/signout'%>
    </div>
  </div>
<% end %>
<% end %>
<p class="header">The Leaderboard</p>
<table border=0>
<% @streaks.each do |s| %>
  <tr>
    <td><a href='https://github.com/<%= s.user.name %>'><%= s.user.name %></a></td>
    <td><%= s.streak %> days!</td>
  </tr>
<% end %>
  <tr>
    <td><a href='https://github.com/'>Duncan</a></td>
    <td>5 days</td>
  </tr>
  <tr>
    <td><a href='https://github.com/'>Duncan</a></td>
    <td>5 days</td>
  </tr>
  <tr>
    <td><a href='https://github.com/'>Duncan</a></td>
    <td>5 days</td>
  </tr>
</table>


  <p class="info">Like this? <a href="mailto:hello@dvncan.com,jesse@jshawl.com?cc=cash@square.com&amp;subject=%1010.00&amp;body=Keep Streaking is awesome! Go treat yourselves to some drinks!" onclick="window.open('https://mail.google.com/mail/?view=cm&amp;tf=1&amp;to=hello@dvncan.com,jesse@jshawl.com&amp;cc=cash@square.com&amp;bcc=&amp;su=%242.99&amp;body=Keep Streaking is awesome! Go treat yourselves to some drinks!">Treat us to a round of drinks!</a></p>
</div>
