<a href='/' id='logo'></a>
<% if !current_user %>
    <%= link_to "Sign in with Github", "/auth/github", :class => 'btn center' %>
<% end %>
<% if current_user %>
  <%= link_to "Logout "+ current_user.name, '/signout'%>
<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="field">
    <%= f.label "Email Reminders" %>
    <%= f.check_box :reminders %>
  </div>
  <div class="field">
    <%= f.label "Feature on Leaderboard"%>
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
<h1>The Leaderboard</h1>
<table border=1>
<% @streaks.each do |s| %>
  <tr>
    <td><a href='https://github.com/<%= s.user.name %>'><%= s.user.name %></a></td>
    <td><%= s.streak %> days!</td>
  </tr>
<% end %>
</table>
