<!DOCTYPE html>
<html>
<head>
  <title>Keepstreaking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='logo'></div>

  <p class='center text-center'>Timely email reminders so you never lose your streak on Github!</p>


  <% if current_user %>
    <%= link_to "Logout "+ current_user.name, '/signout', :class => 'btn center' %>
  <% else %>
    <%= link_to "Sign in with Github", "/auth/github", :class => 'btn center' %>
  <% end %>

<%= yield %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
